# Default Homebrew MySQL server config
[mysqld]
# allow connections from anywhere
bind-address = 0.0.0.0
# Only allow connections from localhost
# bind-address = 127.0.0.1
# mysqlx-bind-address = 127.0.0.1
mysqlx-bind-address = 0.0.0.0
# use below if you want to skip password
#skip-grant-tables
